<!-- index.ejs -->
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<title><%= title %></title>
	</head>
	<body>
		<div class="container">
			<%- include('navbar', {links: links}) %>
			<div class="message-board">
				<h1><%= title %></h1>
				<div class="posts">
					<h2>Latest Posts</h2>
					<ul class="messages">
						<% messages.forEach((message) => { %>
							<%- include('messageItem', { message: message }) %>
						<% }); %>
					</ul>
			</div>
			<%- include('footer') %>
			</div>
		</div>
	</body>
</html>
